html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
body * {
  box-sizing: border-box;
}

body {
  padding: 1px 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat
    bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(229, 25%, 31%);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 50vw;
  height: 90vh;
}

.header {
  width: 60%;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 20px;
}

.header .title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 700;
  line-height: 0.88;
}

.header .title * {
  padding: 0;
  margin: 0;
}
.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 0.8;
}
.scoreboard * {
  margin: 0;
  padding: 0;
}
.scoreboard .scoreTitle {
  color: #2a46c0;
  font-size: 16px;
}
.scoreboard .scoreCount {
  font-size: 50px;
}

.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  max-width: 100vw;
  background: url('./images/bg-pentagon.svg') no-repeat center;
}

.optionButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton img {
  max-width: 60%;
}

.optionButton:hover {
  cursor: pointer;
}

.game .rock {
  bottom: 10%;
  right: 30%;
  border: 12px solid #dc2e4e;
}

.game .paper {
  bottom: 45%;
  right: 20%;
  border: 12px solid #4865f4;
}

.game .scissors {
  left: 43%;
  top: 10%;
  border: 12px solid #ec9e0e;
}

.game .lizard {
  left: 20%;
  bottom: 45%;
  border: 12px solid #834fe3;
}

.game .spock {
  bottom: 10%;
  left: 30%;
  border: 12px solid #40b9ce;
}

.rules {
  position: relative;
  width: 370px;
  height: 500px;
  background: url('./images/image-rules-bonus.svg') no-repeat center;
  background-color: gainsboro;
  background-origin: content-box;
  z-index: 100;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  border-radius: 10px;
}

.rules p {
  width: 30px;
  height: 30px;
  border: 2px solid #3b4363;
  text-align: center;
  border-radius: 50%;
  color: #3b4363;
}
.rules p:hover {
  cursor: pointer;
}

.ruleButton {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}

.ruleButton:hover {
  cursor: pointer;
}

.rulesLink {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 5px;
  width: auto;
  height: 30px;
  border: 2px solid #3b4363;
  color: #3b4363;
  text-decoration: none;
  border-radius: 5px;
}

.resultBox {
  width: 700px;
  height: 500px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  border: 2px solid red;
}
.resultBox div {
  display: block;
  text-align: center;
}

.resultBox .rock {
  border: 12px solid #dc2e4e;
}
